# NetBeans specific #
inv/nbproject/private/
inv-dao/nbproject/private/
readExcel/nbproject/private/

inv/build/
inv-dao/build/
readExcel/build/

inv/nbbuild/
inv-dao/nbbuild/
readExcel/nbbuild/

inv/dist/
inv-dao/dist/
readExcel/dist/

inv/nbdist/
inv-dao/nbdist/
readExcel/nbdist/

inv/nbactions.xml
inv-dao/nbactions.xml
readExcel/nbactions.xml

inv/nb-configuration.xml
inv-dao/nb-configuration.xml
readExcel/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.war
*.ear
