# NetBeans specific #
inv/nbproject/private/
inv-dao/nbproject/private/
inv-desktop/nbproject/private/

inv/build/
inv-dao/build/
inv-desktop/build/

inv/nbbuild/
inv-dao/nbbuild/
inv-desktop/nbbuild/

inv/dist/
inv-dao/dist/
inv-desktop/dist/

inv/nbdist/
inv-dao/nbdist/
inv-desktop/nbdist/

inv/nbactions.xml
inv-dao/nbactions.xml
inv-desktop/nbactions.xml

inv/nb-configuration.xml
inv-dao/nb-configuration.xml
inv-desktop/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.war
*.ear
